.nav{
	height: 10%;
	width: 100%;
	position: relative;
	z-index: 9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002060;
	color: White;
	font-size: 22px;
	height: 100%;
	line-height: 100%;
	text-align: center;
}

li #left{
    float: left;
}

li #right{
	
	float: right;
}

.floating {
    height: 100%;
    float: left;
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	font-weight: 400;
}

.floating::before {
    content: "a";
    display: block;
    visibility: hidden;
    height: 50%;
    margin-top: -.7em;
}

.right-floater::before {
    content: "a";
    display: block;
    visibility: hidden;
    height: 30%;
    margin-top: -.7em;
}

.right-floater{
	
	height: 100%;
	font-size: 10px;
	position: relative;
	float: right;
}

.right-floater img{
	
	max-width: 80%;
	max-height: 80%;
}

/* MS-Edge support. */
@supports (-ms-ime-align: auto) {
	
	.right-floater img{
		
		max-width: 65%;
		max-height: 65%;
		position: relative;
		left: 20%;
	}
}

/* Firefox support. */
@-moz-document url-prefix(){
	
	.right-floater img{
		
		max-width: 65%;
		max-height: 65%;
		position: relative;
		left: 20%;
	}
}