.container{
	height: 100%;
	width: 100%;
	background: url(../images/404-background_T.png) no-repeat;
	background-size: cover;
}

.horiz_seperator{
	
	width: 100%;
	height: 1%;
	background-color: #fc8100;
}

.vert_seperator{
	
	position: absolute;
	border-right: 6px solid #fc8100;
    height: 73%;
    width: 0.5%;
	left: 64%;
}

/* Main section start */
.main_section{
	
	height: 74%;
	width: 96%;
}

/* Firefox support. */
@-moz-document url-prefix() {
	
	.section{
		
		right: 13%;
		top: 2%;
		position: relative;
		min-width: 100%;
		max-height: 50%;
	}
}

/* MS-Edge support. */
@supports (-ms-ime-align: auto) {
	
	.section{
		
		right: 13%;
		position: relative;
		min-width: 100%;
		max-height: 50%;
		top: 2%;
	}
}

.main_feed{
	
	width: 70%;
	height: 100%;
	float: left;	
	position: relative;
	margin: auto;
	

}

.main_feed video{
	
	max-width: 100%;
	max-height: 100%;
}

.return{
	display: inline;
}

.return img{
	
	max-width: 30%;
	max-height: 30%;
}

.return a{
	
	text-decoration: none;
}

.return img:hover{
	
	cursor: pointer;
}

.select_run{
	
	position: absolute;
	top: 2%;
	left: 1%;
	z-index: 100;
	background-color: white;
	width: 27%;
}

.dropdown-content {
    display: none;
    position: absolute;
	top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	font-size: 1vw;
}

.dropdown-content a {
    color: #002060;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-decoration: none;
	color: black;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.date_container:hover .dropdown-content {
    display: block;
}

.image_container{
	
	float: left;
	position: relative;
	width: 20%;
}

.date_container{
	
	float: right;
	position: relative;
	font-size: 1.5vw;
}

.date_container .date{
	
	float: left;
}

.drop_down_icon{
	
	float: right;
	position: relative;
	margin-top: 5%;
}
.speed_indicator{
	
	color: white;
	font-size: 5vw;
	position: relative;
	bottom: 30%;
	height: 10%;
	width: 20%;
}

.time_indicator{
	
	color: white;
	font-size: 5vw;
	position: relative;
	bottom: 17%;
	height: 10%;
	width: 15%;
}

.alt_feed_container{
	
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
	margin: auto;
	text-align: center;
}

.section{
	
	height: 50%;
	margin: 0 auto;
	margin-bottom: 0.5%;
	position: relative;
	left: 4%;
}

.section-gps-tracker{
	
	width: 74.5%;
	height: 30%;
	margin: 0 auto;
	position: relative;
	left: 13%;
}

.fact-container{
	
	position: absolute;
	height: 25%;
	width: 30%;
	z-index: 100;
	left: 34%;
	top: 48%;
}

.section .switch img{
	
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	max-width: 15%;
	max-height: 15%;
}

.sub_feed_container{
	
	width: 100%;
	height: 100%;
	margin: auto;
}

.sub_feed_container video{
	
	max-width: 100%;
	max-height: 100%;
	float: right;
}

/* Main section end */

/* Sub section start */
.sub_section{

	height: 20%;
	width: 100%;
}

.logo_section{
	
	width: 20%;
	height: 100%;
	float: left;
}

.top{
	
	height: 50%;
	width: 100%;
}

.bottom{
	
	height: 50%;
	width: 100%;
}

.bh_logo{
	
	height: 100%;
	width: 100%;
	position: relative;
}

.bh_logo img{
	
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.oracle_logo{
	
	height: 100%;
	width: 100%;
	position: relative;
}

.oracle_logo img{
	
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logos{
	
	position: relative;
	float: left;
	width: 60%;
	height: 100%;
}

.controls{
	
	color: #fc8100;
	position: relative;
	float: right;
	width: 40%;
	height: 100%;
}

.controls img{
	
	max-width: 15%;
	max-height: 15%;
	cursor: pointer;
}

.pause-play, .restart, .volume, .volume-value{
	
	display: inline;
}

.graph_section{
	
	width: 80%;
	height: 100%;
	float: right;
	z-index: 0;
}

.progress_bar_section{
	
	width: 80%;
 	float: right;
	z-index: 1;
	position: relative;
	bottom: 25%;
}
/* Sub section end */